<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#
var relativeFolder = Path.GetRelativePath(Environment.CurrentDirectory, RelativePath);
ArtworkCount = 0;
foreach (var artwork in Artworks)
{
    ++ArtworkCount;
    var user = UserDictionary[artwork.UserId];
    var time = artwork.FileDate;
#>
# [<#= artwork.Title #>](https://www.pixiv.net/artworks/<#= artwork.Id #>)

<#if (user.IsFollowed) {#>👩‍🎨<#} if (artwork.IsBookmarked) {#>⭐<#}#> [<#= user.Name #>](https://www.pixiv.net/users/<#= user.Id #>) 👁 <#= artwork.TotalView #> ♡ <#= artwork.TotalBookmarks #> 📅 <#= time.Year #>-<#= time.Month #>-<#= time.Day #>

<#
    for (uint i = 0; i < artwork.PageCount; ++i)
    {
        if (i + 1U == artwork.PageCount && artwork.ExtraHideLast)
        {
            break;
        }
#>
![<#= artwork.Title #> - <#= i #>](<# WritePath(ref builder, artwork.Id, artwork.GetOriginalFileName(i)); #> "<#= artwork.Id #>")
<#
    }
    if (!string.IsNullOrWhiteSpace(artwork.Caption)) {#>

<#= artwork.Caption #>
<#
    }
    
    if (artwork.Tags.Length != 0)
    {#>

<#
        foreach (var tag in artwork.Tags)
        {#> **<#= TagSet.Values[tag] #>**<#}
    }
#>


<#}#>
