<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#
ArtworkCount = 0;
foreach (var artwork in Artworks)
{
    ++ArtworkCount;
    var user = UserDictionary[artwork.UserId];
    var time = artwork.FileDate;
#>
# [<#= artwork.Title #>](https://www.pixiv.net/artworks/<#= artwork.Id #>)

<#if (user.IsFollowed) {#>👩‍🎨<#} if (artwork.IsBookmarked) {#>⭐<#}#> [<#= user.Name #>](https://www.pixiv.net/users/<#= user.Id #>) 👁 <#= artwork.TotalView #> ♡ <#= artwork.TotalBookmarks #> 📅 <#= time.Year #>-<#= time.Month #>-<#= time.Day #><# if (artwork.IsXRestricted) {#> 🔞<#} #>

<#
    var folder = $"{RelativePathToOriginal}{IOUtility.GetHashPath(artwork.Id)}/";
    var firstOriginal = $"{folder}{artwork.GetOriginalFileName(0)}";
    var thumbnail = $"{folder}{artwork.GetThumbnailFileName()}";
    if (!File.Exists(firstOriginal) && File.Exists(thumbnail))
    {
#>
⚠ <#= artwork.PageCount #>
![<#= artwork.Title #>](<#= thumbnail #> "<#= artwork.Id #>")        
<#
    }
    else
    {
#>
![<#= artwork.Title #> - 0](<#= firstOriginal #> "<#= artwork.Id #>")
<#
        for (uint i = 1; i < artwork.PageCount; ++i)
        {
            if (i + 1U == artwork.PageCount && artwork.ExtraHideLast)
            {
                break;
            }
#>
![<#= artwork.Title #> - <#= i #>](<#= folder #><#= artwork.GetOriginalFileName(0) #> "<#= artwork.Id #>")
<#
        }
    }
    if (!string.IsNullOrWhiteSpace(artwork.Caption)) {
#>

<#= artwork.Caption #>
<#
    }
    
    if (artwork.Tags.Length != 0)
    {
#>

<#
        foreach (var tag in artwork.Tags)
        {#> **<#= TagSet.Values[tag] #>**<#}
    }
#>


<#}#>
